
<h4> Recipe </h4>
<%= form_for @recipe do |r| %>
<%= r.label :title %>
<%= r.text_field :title %>
</br>
<p>
<h4> Recipe Ingredients </h4>
<%= r.fields_for :ingredients do |i| %>
<%= i.label :name_ %>
<%= i.text_field :name %>
<%= i.label :quantity %>
<%= i.text_field :quantity %></br></br>
<% end %>
</p>
<%= r.submit %>
<% end %>
